@charset "UTF-8";
* {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.header {
  background-color: black;
}

.header .wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrapper .burger {
  display: none;
}

.header .wrapper .burger .containers {
  height: 40px;
  display: inline-block;
  cursor: pointer;
}

.header .wrapper .burger .bar1,
.header .wrapper .burger .bar2,
.header .wrapper .burger .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .wrapper .burger .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.header .wrapper .burger .change .bar2 {
  opacity: 0;
}

.header .wrapper .burger .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header .wrapper .logo {
  width: 60px;
  height: 60px;
}

.header .wrapper .logo img {
  width: 60px;
  height: 60px;
}

.header .wrapper .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrapper .nav ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.container {
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34.69%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #000000 34.69%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer {
  background-color: #000000;
  color: white;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 30px 0;
}

.footer .wrapper .logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.footer .wrapper .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.footer .wrapper .contacts .first {
  text-align: center;
}

.footer .wrapper .contacts .two {
  text-align: center;
}

.main {
  margin-top: 40px;
}

.main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.main .wrapper .text_main {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.main .wrapper .text_main .desc {
  margin-top: 30px;
}

.main .wrapper .text_main .button {
  background: #e5e5e5;
  text-align: center;
  padding: 50px 0;
}

.main .wrapper .text_main .button:hover {
  color: black;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.main .wrapper .text_main .button .btn {
  cursor: pointer;
  background: #ff6b00;
  border-radius: 30px;
  color: white;
  font-family: "Montserrat";
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.main .wrapper .text_main .button .btn:hover {
  color: black;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.main .wrapper .text_main .description {
  color: black;
  font-size: 16px;
}

.main .wrapper .text_main .description span {
  color: #aeaeae;
}

.main .wrapper .img_main {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.main .wrapper .img_main .text_main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.main .wrapper .img_main .imgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.main .wrapper .img_main img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1000px) {
  .main .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: сenter;
        -ms-flex-pack: сenter;
            justify-content: сenter;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .wrapper .img_main {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .main .wrapper .text_main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .advantages .wrapper .blocks_advantages {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
  }
  .stages .wrapper .steps .line {
    display: none;
  }
  .stages .wrapper .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .stages .wrapper .steps .step {
    max-width: 400px;
    margin: 0 auto;
  }
  .stages .wrapper .steps .step.two {
    max-width: 400px;
    margin: 0 auto;
  }
  .header .wrapper .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .header .wrapper .nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .wrapper .nav ul {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .wrapper .nav ul li {
    width: 100%;
  }
  .header .wrapper .nav ul li a {
    display: block;
    width: 100%;
    padding: 25px;
  }
  .cards_auto .wrapper .cards_auto {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper {
    max-width: 800px;
  }
  .header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .wrapper .burger {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 720px) {
  .wrapper {
    max-width: 600px;
  }
  .paretners .wrapper .title_paretners {
    font-size: 30px;
  }
  .paretners .wrapper .description_paretners {
    font-size: 25px;
    text-align: center;
  }
  .cards_auto .wrapper .title_cards_auto {
    font-size: 30px;
  }
  .main .wrapper .info_main .title_info {
    font-size: 50px;
  }
  .main .wrapper .info_main .info_description {
    font-weight: 700;
    font-size: 20px;
  }
  .footer .wrapper .contacts {
    font-size: 18px;
  }
  .footer .wrapper .logo {
    font-size: 25px;
  }
  .paretners .wrapper .paratners {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .cards_auto .wrapper .cards_auto {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards_auto .wrapper .cards_auto {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards_auto .wrapper .btn_more {
    text-align: center;
    display: table;
    margin: 80px auto;
    background: #ff6b00;
    border-radius: 30px;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

@media (max-width: 555px) {
  .main .wrapper .inputs {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .advantages .wrapper .blocks_advantages {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (250px)[1];
        grid-template-columns: repeat(1, 250px);
  }
  .main .wrapper .text_main .title_main {
    font-size: 20px;
  }
  .main .wrapper .text_main .title {
    font-size: 20px;
  }
  .main .wrapper .text_main .description {
    font-size: 18px;
  }
  .advantages .wrapper .advantages_information .advantages_title {
    font-size: 20px;
  }
  .advantages .wrapper .advantages_information .advantages_description {
    margin-top: 20px;
    font-size: 16px;
  }
  .advantages .wrapper .title {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
  }
  .advantages .wrapper .description {
    margin: 20px auto;
    max-width: 380px;
    font-size: 16px;
    text-align: center;
  }
  .stages .wrapper .title_stages {
    font-size: 25px;
  }
  .stages .wrapper .description_stages {
    font-size: 20px;
  }
  .stages .wrapper .steps h1 {
    font-size: 20px;
  }
  .stages .wrapper .steps p {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    max-width: 400px;
  }
  .main .wrapper .img_main .imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .main .wrapper .info_main .btn {
    font-size: 12px;
    cursor: pointer;
    outline: none;
  }
  .main .wrapper .inputs_main .btn {
    font-size: 14px;
  }
  .main .wrapper .inputs_main .inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  footer .wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer .wrapper .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
  }
  main .wrapper .inputs_main .btn {
    margin-top: 80px;
  }
}
