* {
  font-family: 'Montserrat', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.header {
  background-color: black;

  .wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {
      display: none;

      .containers {
        height: 40px;
        display: inline-block;
        cursor: pointer;
      }

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.4s;
      }

      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      .change .bar2 {
        opacity: 0;
      }

      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }

    .logo {
      width: 60px;
      height: 60px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .nav {
      ul {
        display: flex;

        justify-content: center;

        gap: 90px;
        align-items: center;

        li {
          a {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;

            text-align: center;

            color: #ffffff;
          }
        }
      }
    }
  }
}

.main {
  padding: 50px 0 0 0;
  background-image: url("../IMG/main.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 160px;

    .info_main {
      max-width: 380px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 300px;
      text-align: center;

      .title_info {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 70px;

        text-align: center;

        color: #ffffff;
      }

      .info_description {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;

        span {
          font-weight: 200;
        }

        text-align: center;

        color: #ffffff;
      }

      .btn {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        background: #ff6b00;
        border-radius: 30px;
        color: white;
        padding: 10px;
        font-size: 17px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover{
          color: black;
          -webkit-transition: color 0.5s ease-in-out;
          transition: color 0.5s ease-in-out;
        }
      }
    }

    .inputs_main {
      max-width: 480px;
      display: flex;
      min-height: 300px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .title_input {
        text-align: center;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;

        color: #ffffff;
      }

      .btn {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        background: #ff6b00;
        border-radius: 30px;
        color: white;
        padding: 10px;
        font-size: 17px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover{
          color: black;
          -webkit-transition: color 0.5s ease-in-out;
          transition: color 0.5s ease-in-out;
        }
      }

      .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 50px;

        input {
          background: #c4c4c4;
          border-radius: 6px;
          border: none;
          padding: 5px;
          outline: none;
          font-weight: 400;
          font-size: 18px;

          color: #000000;
        }
      }
    }
  }
}

.paretners {
  .wrapper {
    .title_paretners {
      margin-top: 50px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;

      text-align: center;

      color: #000000;
    }

    .description_paretners {
      margin-top: 25px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;

      text-align: center;
      text-transform: uppercase;

      color: #000000;
    }

    .paratners {
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      img {
        cursor: pointer;
      }
    }
  }
}

.cards_auto {
  .wrapper {
    .btn_more {
      text-align: center;
      display: table;
      margin: 80px auto;
      background: #ff6b00;
      border-radius: 30px;
      color: white;
      padding: 15px;
      font-size: 17px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      outline: none;
      &:hover{
        color: black;
        -webkit-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
      }
    }

    .title_cards_auto {
      margin-top: 100px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;

      text-align: center;

      color: #000000;
    }

    .cards_auto {
      margin-top: 90px;
      display: flex;
      gap: 50px;
      justify-content: space-between;
      flex-wrap: wrap;

      .card {
        max-width: 200px;
        min-height: 300px;

        background: rgba(236, 235, 235, 0.35);
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);

        .description {
          padding: 10px;

          .title_card {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;

            text-align: center;
          }

          display: flex;

          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          .option {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 15px;

            text-align: center;

            color: #000000;
          }

          .btn {
            padding: 10px 20px;
            background: #000000;
            border-radius: 30px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            border: none;
            cursor: pointer;
            outline: none;
            color: #ffffff;
            &:hover{
              background: #000000;
              color: white;
              -webkit-transition: color 0.5s ease-in-out;
              transition: color 0.5s ease-in-out;
            }
          }

          .price {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 17px;

            text-align: center;
            text-transform: uppercase;

            color: #000000;
          }

          .description_card {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;

            text-align: center;
            text-transform: uppercase;

            color: #000000;
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, #000000 34.69%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(180deg);
}

.footer {
  background-color: #000000;
  color: white;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 30px 0;

    .logo {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;

      text-align: center;

      color: #ffffff;
    }

    .contacts {
      display: flex;
      gap: 30px;
      align-items: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-align: center;

      color: #ffffff;

      .first {
        text-align: center;
      }

      .two {
        text-align: center;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header .wrapper .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.6s;

    &.active {
      transform: translateX(0);
    }

    ul {
      margin-top: 100px;
      display: flex;
      text-align: center;
      gap: 5px;
      flex-direction: column;

      li {
        width: 100%;

        a {
          display: block;
          width: 100%;

          padding: 25px;
        }
      }
    }
  }

  .cards_auto .wrapper .cards_auto {
    margin-top: 90px;
    display: flex;
    gap: 50px;

    flex-wrap: wrap;
  }

  .wrapper {
    max-width: 800px;
  }

  .main .wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    gap: 80px;
    padding-bottom: 160px;
  }

  .header {
    .wrapper {
      display: flex;
      align-items: center;

      .burger {
        height: 80px;
        display: flex;

        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 720px) {
  .wrapper {
    max-width: 600px;
  }

  .paretners .wrapper .title_paretners {
    font-size: 30px;
  }

  .paretners .wrapper .description_paretners {
    font-size: 25px;
    text-align: center;
  }

  .cards_auto .wrapper .title_cards_auto {
    font-size: 30px;
  }

  .main .wrapper .info_main .title_info {
    font-size: 50px;
  }

  .main .wrapper .info_main .info_description {
    font-weight: 700;
    font-size: 20px;
  }

  .footer .wrapper .contacts {
    font-size: 18px;
  }

  .footer .wrapper .logo {
    font-size: 25px;
  }

  .paretners .wrapper .paratners {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .cards_auto .wrapper .cards_auto {
    margin-top: 90px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }

  .cards_auto .wrapper .cards_auto {
    margin-top: 90px;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cards_auto .wrapper .btn_more {
    text-align: center;
    display: table;
    margin: 80px auto;
    background: #ff6b00;
    border-radius: 30px;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

@media (max-width: 540px) {
  .wrapper {
    max-width: 400px;
  }

  .main .wrapper .info_main .btn {
    font-size: 12px;
    cursor: pointer;
    outline: none;
  }

  .main .wrapper .inputs_main .btn {
    font-size: 14px;
  }

  .main .wrapper .inputs_main .inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  footer .wrapper {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .footer .wrapper .contacts {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
  }

  main .wrapper .inputs_main .btn {
    margin-top: 80px;
  }
}
